<section class="causes section-padding">
    <div class="container">
        <div class="row section-title">
            <div class="col col-md-8 col-md-offset-2">
                <h2>{{ 'sections.projects' | transloco}}</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
            </div>
        </div> <!-- end section-title -->

        <div class="row content">
            <div *ngFor="let project of projects"
                 class="col col-md-4 col-xs-6">
                <div class="grid">
                    <div class="img-holder">
                        <img src="../assets/images/causes/img-1.jpg"
                             alt
                             class="img img-responsive">
                    </div>
                    <div class="goal-raised">
                        <div class="progress">
                            <div [style.width.%]="project.percent"
                                 class="progress-bar progress-bar-s2"></div>
                        </div>

                        <div class="goal-raised-inner">
                            <div class="raised">
                                <h4>Conseguido: <span>{{ project.raised }} {{project.unit}}</span></h4>
                            </div>
                            <div class="goal">
                                <h4>Objetivo: <span>{{ project.goal }} {{project.unit}}</span></h4>
                            </div>
                        </div>
                    </div>

                    <div class="causes-title">
                        <h3><a href=""
                               [routerLink]="['projects/',project.uuid]">{{ project.title }}</a></h3>
                        <span class="remaining-days"><i
                               class="fi flaticon-calendar-page-with-circular-clock-symbol"></i>
                            Límite: {{ project.date }}</span>
                    </div>
                    <div class="causes-details">
                        <p>{{ project.description | summarize }}</p>
                        <a href="/{{project.uuid}}"
                           class="btn theme-btn-s3">Donar</a>
                    </div>
                </div>
            </div>

        </div> <!-- end row -->
    </div> <!-- end container -->
</section>