<div class="causes-page">
    <!-- start page-title-wrapper -->
    <section class="page-title-wrapper">
        <div class="page-title">
            <h1>Proyectos</h1>
        </div>
        <div class="breadcrumb-wrapper">
            <div class="container">
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li>Proyectos</li>
                </ol>
            </div>
        </div>
    </section>
    <!-- end page-title-wrapper -->


    <!-- start causes -->
    <section class="causes-single-wrapper section-padding">
        <div class="container">
            <div class="row content">
                <div class="col col-md-9">
                    <div class="causes-single">
                        <div class="img-holder">
                            <img src="../../../assets/images/cause-single/img-1.jpg"
                                 alt
                                 class="img img-responsive">
                        </div>
                        <div class="causes-list-box">
                            <div class="title">
                                <h3>Fresh water for people</h3>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-s1"
                                         data-percent="55"></div>
                                </div>
                                <h4>Raised: <span>$52,872</span> / $70,000</h4>
                            </div>
                            <div class="inner-details">
                                <p>Iste natus error sit voluptatem accusantium dolo remque laudantium. perspiciatis unde
                                    omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
                                    aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
                                    vitae
                                    dicta sunt ex plicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
                                    odit
                                    aut fugit, sed quia con se quuntur magni dolores eos qui ratione voluptatem sequi
                                    nesciunt.</p>
                                <p> Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                    adipisci
                                    velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
                                    aliquam quaerat voluptatem. Ut enim ad minima veniam</p>
                                <ul>
                                    <li><i class="fa fa-check"></i> Aspernatur aut odit aut fugit</li>
                                    <li><i class="fa fa-check"></i> Nventore veritatis et quasi architecto</li>
                                    <li><i class="fa fa-check"></i> Con se quuntur magni dolores</li>
                                </ul>

                                <div class="donation-form quick-donation-section">
                                    <form action="#"
                                          class="form">
                                        <div class="donate-list">
                                            <div class="box">
                                                <input type="radio"
                                                       id="c1"
                                                       name="c1">
                                                <label for="c1"><span class="check-icon"></span> <span
                                                          class="amount">$100</span></label>
                                            </div>
                                            <div class="box">
                                                <input type="radio"
                                                       id="c2"
                                                       name="c1">
                                                <label for="c2"><span class="check-icon"></span> <span
                                                          class="amount">$200</span></label>
                                            </div>
                                            <div class="box active">
                                                <input type="radio"
                                                       id="c3"
                                                       name="c1"
                                                       checked>
                                                <label for="c3"><span class="check-icon"></span> <span
                                                          class="amount">$500</span></label>
                                            </div>
                                        </div>

                                        <div class="enter-amount">
                                            <input type="text"
                                                   placeholder="-- Enter Amount --">
                                        </div>
                                        <div class="donate-btn">
                                            <button class="btn theme-btn"
                                                    type="submit">Donate</button>
                                        </div>
                                    </form>
                                </div> <!-- end donation-form -->
                            </div> <!-- end inner-details -->
                        </div> <!-- end causes-list-box -->
                    </div> <!-- end causes-single -->
                </div> <!-- end col -->


                <div class="col col-md-3 sidebar-wrapper">
                    <div class="sidebar">
                        <div class="widget search-widget">
                            <form action="#"
                                  class="form">
                                <div>
                                    <input type="text"
                                           class="form-control"
                                           placeholder="Search here"
                                           required>
                                    <button type="submit"
                                            class="btn"><i class="fa fa-search"></i></button>
                                </div>
                            </form>
                        </div>

                        <div class="widget recent-post">
                            <h3>Recent post</h3>
                            <div>
                                <h4><a href="#">Education program in Uganda</a></h4>
                                <a href="#"
                                   class="date">November 26, 2016</a>
                            </div>
                            <div>
                                <h4><a href="#">War kids in Syria</a></h4>
                                <a href="#"
                                   class="date">November 26, 2016</a>
                            </div>
                            <div>
                                <h4><a href="#">African water crisis : Children and women</a></h4>
                                <a href="#"
                                   class="date">November 26, 2016</a>
                            </div>
                        </div>

                        <div class="widget recent-causes">
                            <h3>Recent causes</h3>
                            <div>
                                <h4><a href="#">Blood Donation in virginia</a></h4>
                                <p class="remaing-date">22 days remaing</p>
                            </div>
                            <div>
                                <h4><a href="#">Boston orphanage opening</a></h4>
                                <p class="remaing-date">22 days remaing</p>
                            </div>
                            <div>
                                <h4><a href="#">Hair for cancer</a></h4>
                                <p class="remaing-date">22 days remaing</p>
                            </div>
                        </div>

                        <div class="widget recent-events-widget">
                            <h3>Events nearby</h3>
                            <div class="event-list">
                                <div class="event-pic">
                                    <a href="#"><img src="../../../assets/images/events-nearby/img-2.jpg"
                                             alt
                                             class="img img-responsive"></a>
                                </div>
                                <div class="event-info">
                                    <h4><a href="#">Towards Humanity</a></h4>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-calender"></i> 17 March, 2017</a></li>
                                        <li><a href="#"><i class="fa fa-map-marker"></i> 221B, Baker Street</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end sidebar -->
                </div> <!-- end col -->
            </div> <!-- end row -->
        </div> <!-- end container -->
    </section>
    <!-- end causes -->
</div>