<div class="shop-with-sidebar-page">
    <!-- start page-title-wrapper -->
    <section class="shop-page page-title-wrapper">
        <div class="page-title">
            <h1>Shop</h1>
        </div>
        <div class="breadcrumb-wrapper">
            <div class="container">
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li>Shop</li>
                </ol>
            </div>
        </div>
    </section>
    <!-- end page-title-wrapper -->


    <!-- start shop-main-content -->
    <section class="shop-main-content section-padding">
        <div class="container">
            <div class="row">
                <div class="col col-md-9 products-grids">
                    <div *ngFor="let product of products"
                         class="grid-wrapper">
                        <div class="grid">
                            <div class="img-holder-info-list">
                                <div class="img-holder">
                                    <img src="https://www.elent.org{{ product.images[0] }}"
                                         alt
                                         class="img img-responsive">
                                </div>
                                <div class="info-list">
                                    <div>
                                        <a href="#"><img src="assets/images/shop/icons/icon-1.png"
                                                 alt></a>
                                    </div>
                                    <div>
                                        <a href="#"><img src="assets/images/shop/icons/icon-2.png"
                                                 alt></a>
                                    </div>
                                    <div>
                                        <a href="#"><img src="assets/images/shop/icons/icon-3.png"
                                                 alt></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-info">
                                <h3><a href="#">{{product.name}}</a></h3>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <span class="price">{{product.price}}€</span>
                            </div>
                        </div>
                    </div>

                </div> <!-- end col -->

                <div class="col col-md-3">
                    <div class="shop-sidebar">
                        <div class="widget">
                            <h3>Category</h3>
                            <ul>
                                <li *ngFor="let cat of categories"><a href="#">{{ cat.name }}</a></li>
                            </ul>
                        </div>
                        <div class="widget filter-price-widget">
                            <h3>Filter by price</h3>
                            <div>
                                <app-price-range></app-price-range>
                                <input id="range"
                                       type="text">
                                <div class="value">
                                    <div>
                                        <button class="btn theme-btn">Filter now</button>
                                    </div>
                                    <div class="price">
                                        <span>Price</span>
                                        <span id="min-value">$90</span>
                                        <span id="max-value">$300</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget">
                            <h3>By brands</h3>
                            <ul>
                                <li><a href="#">Hitachi <span class="badge">5</span></a></li>
                                <li><a href="#">Electra <span class="badge">5</span></a></li>
                                <li><a href="#">Capitol <span class="badge">5</span></a></li>
                                <li><a href="#">Xtreme <span class="badge">5</span></a></li>
                                <li><a href="#">Spaces <span class="badge">5</span></a></li>
                                <li><a href="#">Bounce <span class="badge">5</span></a></li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h3>By size</h3>
                            <ul>
                                <li><a href="#">X - Small <span class="badge">5</span></a></li>
                                <li><a href="#">Small <span class="badge">5</span></a></li>
                                <li><a href="#">Medium <span class="badge">5</span></a></li>
                            </ul>
                        </div>
                    </div> <!-- end shop-shidebar -->
                </div> <!-- end col -->
            </div> <!-- end row -->
        </div> <!-- end container -->
    </section>
    <!-- end shop-main-content -->
</div>