<!-- start of hero -->
<section class="hero hero-slider-wrapper hero-slider-s1">
    <div class="hero-slider">
        <div class="slide">
            <img src="../assets/images/slider/slide-1.jpg"
                 alt
                 class="slider-bg">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12 slide-caption">

                        <img src="../../../assets/images/elent2.png"
                             alt>
                        <h2>Echando raíces</h2>
                        <p>¿Tú qué vas a hacer?.</p>
                        <a href="#"
                           class="btn theme-btn">Únete</a>

                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="slide row">
            <img src="../assets/images/slider/slide-2.jpg" alt class="slider-bg">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12 slide-caption">
                        <h1>We can’t do it alone without your support</h1>
                        <p>Help us to eradicate poverty around the world and save the million of lives from unwanted demises. Millions of innocent lives we lost every year for malnutritions.</p>
                        <a href="#" class="btn theme-btn">Join us</a>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</section>
<!-- end of hero slider -->


<!-- start fund-volunteers -->
<section class="fund-volunteers">
    <div class="container">
        <div class="row">
            <app-call-to-action [type]="'socios'"></app-call-to-action>
            <app-call-to-action [type]="'fondos'"></app-call-to-action>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<!-- end fund-volunteers -->


<!-- start causes -->
<app-projects-summary></app-projects-summary>
<!-- end causes -->

<!-- start recent-blog -->
<section class="recent-blog section-padding">
    <div class="container">
        <div class="row section-title">
            <div class="col col-md-8 col-md-offset-2">
                <h2>Recent news</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
            </div>
        </div> <!-- end section-title -->

        <div class="row">
            <div class="col col-xs-12">
                <div class="blog-grids recent-blog-slider">
                    <div class="grid-home col-xs-4">
                        <div class="entry-media">
                            <div class="img-holder">
                                <img src="../assets/images/blog/img-3.jpg"
                                     alt
                                     class="img img-responsive">
                            </div>
                            <div class="tags">
                                <ul>
                                    <li><a href="#">Non-profit</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="entry-body">
                            <div class="entry-title">
                                <h3><a href="#">“Clean Central Park 2017” Finished successfully</a></h3>
                            </div>
                            <div class="entry-meta">
                                <ul>
                                    <li><a href="#">Aaron ramsey</a></li>
                                    <li><a href="#">19 Feb, 2018</a></li>
                                </ul>
                            </div>
                            <div class="continue">
                                <a href="#">Continue reading..</a>
                            </div>
                        </div>
                    </div>

                    <div class="grid-home col-xs-4">
                        <div class="entry-media">
                            <div class="img-holder">
                                <img src="../assets/images/blog/img-2.jpg"
                                     alt
                                     class="img img-responsive">
                            </div>
                            <div class="tags">
                                <ul>
                                    <li><a href="#">Non-profit</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="entry-body">
                            <div class="entry-title">
                                <h3><a href="#">10 photos of International Day of Charity</a></h3>
                            </div>
                            <div class="entry-meta">
                                <ul>
                                    <li><a href="#">Aaron ramsey</a></li>
                                    <li><a href="#">19 Feb, 2018</a></li>
                                </ul>
                            </div>
                            <div class="continue">
                                <a href="#">Continue reading..</a>
                            </div>
                        </div>
                    </div>

                    <div class="grid-home col-xs-4">
                        <div class="entry-media">
                            <div class="img-holder">
                                <img src="../assets/images/blog/img-1.jpg"
                                     alt
                                     class="img img-responsive">
                            </div>
                            <div class="tags">
                                <ul>
                                    <li><a href="#">Non-profit</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="entry-body">
                            <div class="entry-title">
                                <h3><a href="#">“Clean Central Park 2017” Finished successfully</a></h3>
                            </div>
                            <div class="entry-meta">
                                <ul>
                                    <li><a href="#">Aaron ramsey</a></li>
                                    <li><a href="#">19 Feb, 2018</a></li>
                                </ul>
                            </div>
                            <div class="continue">
                                <a href="#">Continue reading..</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<!-- end recent-blog -->

<!-- start about-company-section -->
<section class="about-company-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-md-7 left-col">
                <div class="about-company">
                    <span>{{ 'sections.about' | transloco}}</span>
                    <h2>{{ 'home.about_title' | transloco}}</h2>
                    <p>{{ 'home.about_text_1' | transloco}}</p>
                    <p>{{ 'home.about_text_2' | transloco}}</p>
                    <p>{{ 'home.about_text_3' | transloco}}</p>
                    <a href="#"
                       class="theme-btn-s4">Read more <i class="fa fa-angle-right"></i></a>
                </div>
            </div>

            <div class="col col-md-5 right-col">

                <div class="some-info">
                    <div class="circle"></div>
                    <div class="info-box">
                        <span class="icon">
                            <i class="fi flaticon-coins-1"></i>
                        </span>
                        <div class="details">
                            <h4>2.40 m</h4>
                            <span>Donation</span>
                        </div>
                    </div>
                    <div class="info-box">
                        <span class="icon">
                            <i class="fi flaticon-medical"></i>
                        </span>
                        <div class="details">
                            <h4>01</h4>
                            <span>Purpose</span>
                        </div>
                    </div>
                    <div class="info-box">
                        <span class="icon">
                            <i class="fi flaticon-people-1"></i>
                        </span>
                        <div class="details">
                            <h4>12.8 k</h4>
                            <span>Volunteers</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<!-- end about-company-section -->
<!-- start about-us-section 
<section class="about-us-section parallax" data-bg-image="../assets/images/about-us-bg.jpg" data-speed="3">
    <div class="container">
        <div class="row content">
            <div class="col col-md-7 left-col">
                <div>
                    <div class="tab-list">
                        <ul class="nav">
                            <li role="presentation" class="active">
                                <a href="#about" data-toggle="tab">About us</a>
                            </li>
                            <li role="presentation">
                                <a href="#history" data-toggle="tab">History</a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="about">
                            <p>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</p>
                        </div>
                        <div class="tab-pane fade" id="history">
                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</p>
                            <p>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                        </div>
                    </div>
                </div>
            </div> <!-- end left-col

            <div class="right-col-bg"></div>
            <div class="col col-md-5 right-col">
                <div class="about-slider">
                    <div>
                        <h3>How we work</h3>
                        <p>Ut enim ad minima veniam, quis nostrum exercitatio nem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur</p>
                    </div>
                    <div>
                        <h3>How we work</h3>
                        <p>Ut enim ad minima veniam, quis nostrum exercitatio nem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur</p>
                    </div>
                    <div>
                        <h3>How we work</h3>
                        <p>Ut enim ad minima veniam, quis nostrum exercitatio nem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur</p>
                    </div>
                </div>
            </div> <!-- end right-col
        </div> <!-- end row
    </div> <!-- end container 
</section>
<!-- end about-us-section -->


<!-- start quick-donation-section -->
<section class="quick-donation-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-md-10 col-md-offset-1">
                <h2>Quick donation</h2>

                <div class="donation-form">
                    <form action="#"
                          class="form">
                        <div>
                            <select class="form-control">
                                <option selected
                                        disabled> - Select Causes - </option>
                                <option>Case 1</option>
                                <option>Case 2</option>
                                <option>Case 3</option>
                                <option>Case 4</option>
                            </select>
                        </div>
                        <div class="donate-list">
                            <div class="box">
                                <input type="radio"
                                       id="c1"
                                       name="c1">
                                <label for="c1"><span class="check-icon"></span> <span
                                          class="amount">$100</span></label>
                            </div>
                            <div class="box">
                                <input type="radio"
                                       id="c2"
                                       name="c1">
                                <label for="c2"><span class="check-icon"></span> <span
                                          class="amount">$200</span></label>
                            </div>
                            <div class="box active">
                                <input type="radio"
                                       id="c3"
                                       name="c1"
                                       checked>
                                <label for="c3"><span class="check-icon"></span> <span
                                          class="amount">$500</span></label>
                            </div>
                            <div class="box">
                                <input type="radio"
                                       id="c4"
                                       name="c1">
                                <label for="c4"><span class="check-icon"></span> <span
                                          class="amount">$1000</span></label>
                            </div>
                        </div>

                        <div class="donate-as-anonymous">
                            <input type="checkbox"
                                   id="d1">
                            <label for="d1"> Donate as anonymous</label>
                        </div>

                        <div class="donate-btn">
                            <button class="btn theme-btn"
                                    type="submit">Donate</button>
                        </div>
                    </form>
                </div>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<!-- end quick-donation-section -->

<!-- start cta -->
<section class="cta parallax"
         data-bg-image="../assets/images/cta-bg.jpg"
         data-speed="3">
    <div class="container">
        <div class="row">
            <div class="col col-md-8 left-col">
                <h3>Subscribe to our newsletter for <span>news</span> and <span>updates</span></h3>
            </div>
            <div class="col col-md-4">
                <form class="form">
                    <div class="text-fild">
                        <input type="text"
                               class="form-control"
                               placeholder="email address..">
                        <button type="submit"
                                class="submit-btn"><i class="fa fa-arrow-right"></i></button>
                    </div>
                    <div class="notify-message">
                        <input type="checkbox"
                               id="notify">
                        <label for="notify"> Notify me only about the updates</label>
                    </div>
                </form>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<!-- end cta -->


<!-- start footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col col-md-3 col-sm-6">
                <div class="widget about-widget">
                    <div class="footer-logo">
                        <img src="../assets/images/footer-logo.png"
                             alt
                             class="img img-responsive">
                    </div>
                    <div class="company-info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore sed do eiusmod.</p>
                    </div>
                    <ul class="social-links">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col col-md-3 col-sm-6">
                <div class="widget donate-widget">
                    <h3 class="widget-title">Donate</h3>
                    <ul>
                        <li><a href="#">Become a Monthly Giver</a></li>
                        <li><a href="#">Make a Single Donation</a></li>
                        <li><a href="#">Child Sponsorship</a></li>
                        <li><a href="#">Leave a Gift in Your Will</a></li>
                        <li><a href="#">Other Ways to Give</a></li>
                        <li><a href="#">Online Gift Catalogue</a></li>
                    </ul>
                </div>
            </div>

            <div class="col col-md-3 col-sm-6">
                <div class="widget action-widget">
                    <h3 class="widget-title">Take action</h3>
                    <ul>
                        <li><a href="#">Who We Are</a></li>
                        <li><a href="#">Global Reach</a></li>
                        <li><a href="#">Campaign with Us</a></li>
                        <li><a href="#">Our History</a></li>
                        <li><a href="#">Volunteer</a></li>
                    </ul>
                </div>
            </div>

            <div class="col col-md-3 col-sm-6">
                <div class="widget twitter-post-widget">
                    <h3 class="widget-title">Twitter feed</h3>
                    <ul>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i> Themexriver</a> @envato: One subscription, 5000+
                            assets &amp; unlimited August 30, 2016 7:49 am
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i> Themexriver</a> olar bears can eat as many as 86
                            penguins in a single sitting.July 22, 2016 11:35 am
                        </li>
                    </ul>
                </div>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</footer>
<!-- end footer -->