.slide {
  background: url("../../../assets/images/slider/slide-1.jpg") no-repeat center
    center fixed;
  background-size: cover;
}

.slide-caption .shadow {
  margin: 0 auto;
  width: 80%;
  background-color: rgba(158, 206, 113, 0.5);
  padding: 30px;
  border-radius: 4px;
  p {
    color: white;
  }
}
