
<body>
    
    <!-- start page-wrapper -->
    <div [@initialFade]="'in'" class="page-wrapper">

        <!-- start preloader -->
        <!-- <div class="preloader">
            <div>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div> -->
        <!-- end preloader -->

        <app-header></app-header>

        <router-outlet></router-outlet>

        
    </div>
    <!-- end of page-wrapper -->

</body>

