<section class="recent-blog section-padding">
    <div class="container">
        <div class="row section-title">
            <div class="col col-md-8 col-md-offset-2">
                <h2>{{ 'sections.blog' | transloco}}</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
            </div>
        </div> <!-- end section-title -->

        <div class="row">
            <div class="col col-xs-12">
                <div class="blog-grids recent-blog-slider">
                    <div *ngFor="let post of posts" class="grid-home col-xs-4">
                        <div class="entry-media">
                            <div class="img-holder">
                                <img src="{{ post.images.image }}"
                                     alt
                                     class="img img-responsive">
                            </div>
                            <div class="tags">
                                <ul>
                                    <li><a href="#">{{ post.category.name }}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="entry-body">
                            <div class="entry-title">
                                <h3><a href="#">{{ post.title }}</a></h3>
                            </div>
                            <div class="entry-meta">
                                <ul>
                                    <li><a href="#">{{ post.author.name }}</a></li>
                                    <li><a href="#">{{ post.created_on }}</a></li>
                                </ul>
                            </div>
                            <div class="continue">
                                <a href="#">{{ 'blog.keep_reading' | transloco }} </a>
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
