<!-- start page-title-wrapper -->
<section class="blog-page page-title-wrapper">
    <div class="page-title">
        <h1>{{ 'sections.blog' | transloco }}</h1>
    </div>
    <div class="breadcrumb-wrapper">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li>Blog</li>
            </ol>
        </div>
    </div>
</section>
<!-- end page-title-wrapper -->


<!-- start main-blog -->
<section class="blog-page main-blog section-padding">
    <div class="container">
        <div class="row blog-grids">
            <div *ngFor="let post of posts"
                 class="col col-lg-4 col-xs-6">
                <div class="grid">
                    <div class="entry-media">
                        <div class="img-holder">
                            <img src="{{ post.images.image }}"
                                 alt
                                 class="img img-responsive">
                        </div>
                        <div class="tags">
                            <ul>
                                <li><a href="#">{{ post.category.name }}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="entry-body">
                        <div class="entry-title">
                            <h3><a href="#">{{ post.title }}</a></h3>
                        </div>
                        <div class="entry-meta">
                            <ul>
                                <li><a href="#">{{ post.author.name }}</a></li>
                                <li><a href="#">{{ post.created_on }}</a></li>
                            </ul>
                        </div>
                        <div class="continue">
                            <a href="#">{{ 'blog.keep_reading' | transloco }} </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end row -->

        <div *ngIf="thereIsPagination"
             class="pagination-wrapper">
            <ul>
                <li>
                    <a href="#"
                       aria-label="Previous">
                        <i class="fa fa-angle-double-left"></i>
                    </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li>
                    <a href="#"
                       aria-label="Next">
                        <i class="fa fa-angle-double-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div> <!-- end container -->
</section>
<!-- end main-blog -->